body{
    font-family: 'Source Sans Pro', sans-serif !important;
}
.btn-primary{
    background-color: #662d91 !important;
    border-radius: 0 !important;
}
.move-down{
    margin-top: 40px;
}
.navbar{
    background: rgba(255,255,255,0.7) !important;
    border: 0 !important;
    height: 80px !important;
    position: absolute !important;
    width: 100%;
    z-index: 1;
}
.active-menu{
    background: white !important;
    border-bottom: 1px solid #662d91 !important;
}
.signup-btn{
    background-color: #662d91;
    color: #fff !important;
}
.signup-btn:hover{
    color: #662d91 !important;
}
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  .nav-padding-top{
      padding-top: 13px;
  }
  .page-container{
      height: 100vh;
      padding-top: 0 !important;
      position: relative  !important;
      background-image: url('../images/bg.jpg');
      background-size: cover;
  }
  .background-img{
      height: 100vh;
  }
  .vcenter {
    display: flex;
    align-items: center;
    height: 100vh;
    background: rgba(255,255,255,0.95);
}
.register-box{
    margin-top: 15%;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-right: 8%;
    margin-left: 8%;
    padding: 10%;
}
.input-group{
    margin-top: 20px;
    border-radius: 0 !important;
    height: 40px;
    border: 1px solid #ddd !important;
}
.input-group-addon{
    background: #fff !important;
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
}
input{
    border-radius: 0 !important;
    height: 40px !important;
    border: 1px solid #ddd !important;
}
.terms{
    padding-top: 13px;
}
.mt-2{
    margin-top: 20px;
}
ul.parsley-errors-list{
    list-style-type: none;
    list-style-position: inside;
    text-align: left;
    /* position: absolute; */
    /* top: 100; */
}
li.parsley-required, li.parsley-type, li.parsley-minlength, li.parsley-equalto{
    color: red;
}

.btn-options-primary{
    background-color: #662d91 !important;
    color: #fff;
    width: 50%;
    font-size: 16pt !important;
    border-radius: 0 !important;
    margin-bottom: 30px !important;
}
.btn-options-primary:hover{
    color: #fff !important;
}
.btn-options-default{
    width: 50%;
    font-size: 16pt !important;
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
    margin-bottom: 30px !important;
}

input[type=radio]{
    display: none !important;
}

